//Criamos um arquivo .env para armazenar as variáveis de ambiente, como as credenciais do banco de dados e a porta do servidor. Isso é uma prática recomendada
 para manter as informações sensíveis fora do código-fonte e facilitar a configuração em diferentes ambientes (desenvolvimento, produção, etc.).

BD_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=
